@import "./assets/fonts/fonts.css";

/* ================================
  BASE & VARIÁVEIS
==================================*/
/* Zera margens globais */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

:root {
  --cor-principal: #85d4f4;
  --cor-secundaria: #414aba;
  --cor-texto-escuro: #292929;
  --cor-texto-nav: #21206b;
  --cor-texto-subtitulo: #ed177d;

  --fonte-ttsupermolot: "TTSupermolot", sans-serif;
  --fonte-roboto-flex: "Roboto Flex", sans-serif;

  --largura-maxima: 1200px;
  --altura-header: 90px;
}

/* ================================
  HEADER
==================================*/
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
  max-width: 100%;
  background-color: var(--cor-principal);
  flex-wrap: wrap;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.social-links {
  height: 2.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-nav {
  display: flex;
  font-family: var(--fonte-ttsupermolot);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.25rem;
  letter-spacing: 0.2em;
  color: #201f53;
}

a.nav-link {
  text-decoration: none;
  color: var(--cor-texto-nav);
  transition: all 0.3s ease;
  margin: auto 2rem;
}

a.nav-link:hover {
  color: #1b1b7f;
  transform: scale(1.1);
}

/* ================================
  HERO
==================================*/
.hero-container {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
}

.hero-intro {
  width: 60%;
}

.hero-image img,
.site-footer img {
  max-width: 100%;
  height: auto;
}

.hero-greeting {
  font-family: var(--fonte-ttsupermolot);
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--cor-texto-escuro);
}

.hero-name {
  font-family: var(--fonte-roboto-flex);
  font-size: 5rem;
  font-weight: 700;
  text-align: left;
  color: var(--cor-texto-escuro);
}

.hero-description {
  font-family: var(--fonte-ttsupermolot);
  font-weight: 400;
  color: var(--cor-texto-escuro);
  font-size: 2.25rem;
}

/* ================================
  ABOUT
==================================*/
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  margin: 60px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.container-content {
  max-width: 550px;
  line-height: 1.6;
  text-align: justify;
}

.section-title {
  font-family: var(--fonte-ttsupermolot);
  font-weight: 400;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--cor-texto-escuro);
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
  width: 100%;
  /* Mantido para alinhar itens ao topo, o que ajuda */
  align-items: flex-start;
}

.main-content p {
  /* Mantido para controle de margem dos parágrafos */
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.about-text {
  font-family: var(--fonte-roboto-flex);
  font-weight: 300;
  font-size: 1rem;
  line-height: 100%;
  text-indent: 50px;
  text-align: justify;
  color: var(--cor-texto-escuro);
}

/* ================================
  SKILLS
==================================*/
::selection {
  color: #0e0e0e;
  background-color: #85d4f4;
}

.skills-card {
  flex: 1;
  max-width: 500px;
  background-color: #ffffff;
  padding: 10px 30px;
}

.skill-item {
  display: flex;
  font-family: var(--fonte-roboto-flex);
  font-size: 1rem;
  color: var(--cor-texto-escuro);
  align-items: left;
  padding: 10px 0;
}
.main-title {
  font-family: var(--fonte-ttsupermolot);
  font-size: 1.8rem;
  color: #292929;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.category-title {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--fonte-ttsupermolot);
  color: #292929;
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.skill-name {
  font-size: 0.9rem;
  color: #292929;
  width: 35%;
  min-width: 120px;
  text-align: left;
}

.progress-bar {
  flex-grow: 1;
  height: 12px;
  border: none;
  background-color: #c8e2eb;
  border-radius: 5px;
  margin-left: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Estilização da barra de preenchimento (Webkit - Chrome, Safari) */
.progress-bar::-webkit-progress-bar {
  background-color: #e0f8ff;
  border-radius: 5px;
}

.progress-bar::-webkit-progress-value {
  background-color: #85d4f4;
  border-radius: 5px;
  transition: width 0.8s ease-out;
}

/* Estilização da barra de preenchimento (Mozilla - Firefox) */
.progress-bar::-moz-progress-bar {
  background-color: #85d4f4;
  border-radius: 5px;
  transition: width 0.8s ease-out;
}

/* ================================
  PROJECTS
==================================*/
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1094px;
  margin: 60px auto;
  padding: 0 10px;
}

.projects-grid h2 {
  font-family: var(--fonte-ttsupermolot);
  font-weight: 700;
  font-size: 2rem;
  color: var(--cor-texto-escuro);
}

.projects-grid h3 {
  font-family: var(--fonte-ttsupermolot);
  font-size: 0.9rem;
  color: var(--cor-texto-subtitulo);
}

.projects-grid p {
  font-family: var(--fonte-roboto-flex);
  font-weight: 300;
  font-size: 1rem;
  text-indent: 2rem;
  line-height: 100%;
  vertical-align: middle;
  color: var(--cor-texto-escuro);
  text-align: justify;
  margin-top: 12px;
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  max-height: 220px;
  display: block;
}

/* ================================
  BUTTON
==================================*/
.button {
  width: 100%;
  max-width: 300px;
  height: 40px;
  background-color: var(--cor-secundaria);
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  color: #0e0e0e;
  background-color: #5560e0;
  box-shadow: 0 0 15px rgba(65, 74, 186, 0.6), 0 6px 8px rgba(0, 0, 0, 0.2);
}

.button_link {
  font-family: var(--fonte-ttsupermolot);
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
}
/* ================================
  FOOTER
==================================*/
/* Footer ocupa 100% da tela */
.site-footer {
  width: 100%;
  background-color: #85d4f4;
  padding: 1rem 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.site-footer img {
  max-width: 100%;
  height: auto;
}

/* ================================
  MEDIA QUERIES
==================================*/
@media (max-width: 768px) {
  .site-header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--cor-principal);
    gap: 12px;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--cor-principal);
    letter-spacing: normal;
  }

  a.nav-link {
    display: block;
    font-size: 1.5rem;
    width: 100%;
    margin: 0.5rem auto;
    text-align: center;
    padding: 5px 0;
  }

  .social-links {
    justify-content: center;
    gap: 1rem;
  }

  .hero-container {
    flex-direction: column;
    align-items: center; /* centraliza os itens horizontalmente */
    justify-content: center; /* opcional, centraliza verticalmente se quiser */
    text-align: center;
    padding: 2rem 1rem;
  }

  .hero-intro {
    width: 100%;
  }

  .hero-image {
    width: 100%;
  }
  .hero-image img {
    display: block;
    margin: 0 auto;
    align-items: center;
  }

  .hero-name {
    text-align: center;
    font-size: 4rem;
  }
  .about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 768px;
    padding: 0 10px;
  }

  .container-content {
    max-width: 768px;
    line-height: 1.6;
    text-align: justify;
  }

  .section-title {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .skills-category {
    width: 100%;
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-greeting {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .main-content,
  .hero-section,
  .container-content,
  .hero-container,
  .hero-image {
    padding: 0px;
    margin: 0px;
  }

  .hero-image {
    max-width: 480px;
    width: 100%;
    align-items: center;
  }

  a.nav-link {
    font-size: 1.2rem;
  }

  .hero-name {
    font-size: 3rem;
  }

  .hero-greeting {
    font-size: 1.5rem;
  }
  .hero-description {
    font-size: 1.5rem;
    text-align: center;
  }

  .section-title {
    text-align: center;
  }
  .main-title {
    text-align: center;
  }

  .project-card p {
    font-size: 0.9rem;
    text-indent: 1rem;
  }

  .button {
    max-width: 100%;
    height: 48px;
    font-size: 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    gap: 4rem;
  }

  .hero-intro {
    text-align: left;
    width: 55%;
  }

  .hero-image {
    width: 45%;
  }

  .hero-name {
    text-align: left;
    font-size: 5rem;
  }

  .hero-greeting,
  .hero-description {
    text-align: left;
    font-size: 2.25rem;
  }

  .about-section {
    /* Corrigido para display: flex, pois foi definido assim no início */
    display: flex;
    gap: 2rem;
  }

  .projects-grid {
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .button {
    max-width: 260px;
  }
}

@media (min-width: 1280px) {
  .main-content {
    width: 90%;
  }

  .about-section {
    gap: 6rem;
  }

  .container-content-2 {
    padding-left: 0;
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  .main-content {
    width: 75%;
  }

  .about-section {
    gap: 10rem;
  }
}
